<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選課系統登入</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}"/>
</head>
<body>
    <header>
        <h1>選課系統</h1>
    </header>

    <div class="container">
        <h1>選課系統登入</h1>
        <p>1122 Database System</p>
        <form method="post" action="/login">
            <input type="text" input name="student_id" placeholder="請輸入帳號">
            <input type="submit" name="search_button" value="登入">
        </form>
    </div>

    <footer>
        © 2024 deba. All rights reserved.
    </footer>
</body>
</html>