<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>學生資訊</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/style_Browse.css') }}"/>
</head>
<header>
    <h1>課表查詢</h1>
</header>

<body>
        <table border='1'>
            <tr>
                <th>學生 ID</th>
                <th>姓名</th>
                <th>系所</th>
                <th>年級</th>
                <th>學分數</th>
            </tr>
            {% for student in student_data %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
            </tr>
            {% endfor %}
        </table>
        <table border='1'>
            <tr>
                <th>節次</th>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
                <th>星期六</th>
                <th>星期日</th>
            </tr>
            {% for i in range(10) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    {% for j in range(7) %}
                        <td>{{ timetable[i][j] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <table border='1'>
            <tr>
                <th>課程 ID</th>
                <th>課程名稱</th>
                <th>科系</th>
                <th>年級</th>
                <th>學分</th>
                <th>人數上限</th>
                <th>人數</th>
                <th>是否為必修</th>
                <th></th>
            </tr>
            {% for course in courses %}
            <tr>
                {% for data in course %}
                <td>{{ data }}</td>
                {% endfor %}
            {% endfor %}

</body>
<footer>
    <p><a href="/">回首頁</a></p>
</footer>
</html>
