body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding-bottom: 70px; /* 在底部空出足夠的空間 */
    margin: 0;
}

h1 {
    text-align: center;
}

table {
    width: 80%; 
    margin: 20px auto; /* 讓表格水平居中並在上方增加一些 margin */
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed; /* 將 footer 的定位改為固定定位 */
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff; /* 設定連結顏色為白色 */
    text-decoration: none; /* 移除連結下劃線 */
    margin: 0 10px; /* 添加間距，使連結之間有一定的距離 */
}

footer a:hover {
    text-decoration: underline; /* 滑鼠懸停時添加下劃線 */
}
